.user-actions {
  padding-left: 0;
  list-style-type: none;
  .user-action-item{
    cursor: pointer;
  }
}

.ant-card-body {
  padding: 0 !important;
}

.ant-card-meta-title {
  overflow: visible !important;
  white-space: normal !important;
}