$side-nav-bar-color: #232324;
$font-color-on-hover: aliceblue;
$search-bar-color: #e8e8e9;
$background-color: #2f2f32;
$font-color: rgba(255, 255, 255, 0.65);
$white: #fff;
$black: black;
$border-color: rgb(204, 207, 207);
$main-content-background: #616161;
$disabled-btn: #549777;
$active-color: darkred;
$inactive-color: #1890ff;
$pagination-item-active: #0e86cd;
$change-btn-color: #1890ff;
$table-border-color: #616161;
$error-msg-color: darkred;

//theme colors
$primary-color: #181c20;
$secondary-color: #25272a;
$app-header-color: #000000;
$nav-bar-sub-menu-color: #a4a4a433;
$primary-btn-color: #0e86cd;
$secondary-btn-color: #7f8c8d;
$rectify-btn-color: #657072;
$text-primary-color: #b1b1b5;
$text-secondary-color: #ffffff;
$pricelist-add-btn: #42a546;
$input-box-color: #2e2f32;
$inactive-tag-color: #d2483e;
$active-tag-color: #0e86cd;
$hover-color: #2f3337;
$error-cell-color: #2c2c2c;
$highlight-color: #b80000;
$currency-symbol-color: #2c8655;
$scrollbar-thumb-color: #363a3f;
$scrollbar-track-color: #000000;
$box-shadow-color: #00000029;
$divider-color: #3a3c40;
$system-tag-color: #778ca3;
$user-tag-color: #28918b;
$upload-btn-color: #168de8;
$label-text-color: #979aa4;
